@import url("../../css/main.css");

body {
  background-image: var(--dark-blue);
}



.header__nav {
  margin-left: 211.83px;
}

.top {
  padding-top: 217px;
  background-image: none;
  min-height: 757px;
  overflow: hidden;
}

.top__background {
  bottom: -85px;
}

.top__background-image {
  background-position: 48% 45%;
}

.top__image {
  max-width: 379px;
  max-height: 260px;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}
.top__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-119px, -179px);
  min-width: 620px;
}
.top__image-mob {
  display: none;
  position: relative;
  z-index: 1;
}
.top__image-bg-mob {
  display: none;
}
@media (max-width: 520px) {
  .top__image-mob {
    display: block;
    margin-top: 40px;
  }
  /* .top__image-bg-mob {
    display: block;
  } */
  .top__image {
    display: none;
  }
  .top__image-bg {
    /* display: none; */
  }
}

.top__sub-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}


.top__wrapper-image {
  width: auto !important;
}

.top__download-content {
  max-width: 1031px;
  background-color: #fff;
  color: var(--dark-black);
  padding: 51px 103px 56px 52px;
  border-radius: 16px;
  position: relative;
  display: flex;
  gap: 0 66px;
}

.top__download-wrapper {
  flex-shrink: 0;
}

.top__download-title {
  font-weight: 700;
  font-size: 20px;
  max-width: 333px;
}

.top__download-text {
  max-width: 373px;
  font-size: 13px;
  margin-top: 19px;
}

.top__form {
  padding-top: 0;
  margin-top: 30px;
}

.top__form-item,
.top__form-bottom {
  margin-top: 19px;
}

.top__form-check-item {
  margin-top: 21px;
}
.top__inner {
  /* gap: 156.28px; */
  /* padding-bottom: 426px; */
  justify-content: center;
  gap: 30px;
}

.top__button-media {
  display: none;
}

.top__promotion {
  margin-top: 42px;
}

.top__promotion-title {
  font-size: 24px;
  font-weight: 700;
}

.top__promotion-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0 73px;
  margin-top: 25px;
}

.top__time {
  max-width: 373px;
  width: 100%;
  text-align: center;
  padding: 34px 0 35px 0;
  border-radius: 16px;
  box-shadow: inset 0px 0px 64px 0px rgba(255, 255, 255, 0),
    inset 0px 3px 8px 0px rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(54px);
  background: rgba(255, 255, 255, 0.03);
  position: relative;
}

.top__time::after {
  content: "";
  position: absolute;
  background: rgba(232, 152, 58, 0.13);
  filter: blur(16px);
  top: 19px;
  right: 10px;
  bottom: 15px;
  left: 33px;
}

.top__time-text {
  display: block;
  font-size: 40px;
  font-weight: 700;
}

.top__promotion-text {
  font-size: 24px;
  flex-grow: 1;
  font-weight: 700;
}

.top__promotion-text > span {
  display: block;
}

.top__button {
  margin-top: 60px;
}

.top__info-wrapper {
  bottom: 53px;
}

.top__info {
  padding-left: 70px;
  padding-right: 51px;
}

.footer {
  background-image: none;
}

@media (max-width: 1100px) {
  .header__nav {
    margin-left: auto;
  }

  .top__download-content {
    padding-right: 52px;
  }

  .top__inner {
    gap: 0 48.28px;
  }

  .top__title {
    max-width: 558px;
  }

  .top__promotion-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .top {
    padding-top: 122px;
  }

  .top__download-content {
    padding: 40px 20px;
  }

  .top__image-block {
    display: none;
  }

  .top__inner {
    padding-bottom: 280px;
  }

  .top__title br {
      display: none;
  }

  .top__wrapper-image {
    width: 100%;
    margin-top: 20px;
  }


  .top__time::after {
    display: none;
  }

  .top__info-wrapper {
    bottom: 0;
    transform: translateY(49%);
    left: 13px;
    right: 13px;
  }

  .top__info {
    padding: 80px 66px 80px;
  }
  .top__image {
    /* position: static; */
    /* min-width: 100%; */
  }

  .top__white {
    height: 344px;
  }

  .top__info-wrapper {
    bottom: -18px;
  }

  .top__download-wrapper {
    flex-shrink: 1;
  }
}

@media (max-width: 520px) {
  .top__wrapper-image {
    margin-top: 0;
  }

  .top__image-mob {
    width: 100%;
  }
  .top__image-bg {
    min-width: 550px;
    transform: translate(-62px, -146px);
    opacity: 0.8;
  }
  .top__button {
    margin-top: 40px;
  }
  .top__sub-title {
    margin-top: 37px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .top__title {
    font-size: 20px;
  }
  .top__promotion {
    margin-top: 37px;
  }

  .top__promotion-title {
    font-size: 16px;
  }

  .top__promotion-wrapper {
    margin-top: 20px;
    gap: 20px 0;
  }

  .top__promotion-text {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .top {
    min-height: 1008px;
  }
}

@media (max-width: 415px) {
  .top__image-bg {
    min-width: 536px;
    transform: translate(-63px, -124px);
  }
}

@media (max-width: 360px) {
  .top__image-bg {
    min-width: 500px;
  }
}

.fake-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fefefe93;
  display: none;
}
.fake-btn.active {
  display: block;
}

/* service--------------------- */
.service {
  width: 100%;
  background-color: #fff;
  min-height: 570px;
}

.service__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  transform: translateY(-85px);
  position: relative;
  z-index: 1;
}
.service__item {
  width: 420px;
  min-height: 217px;
  border-radius: 26px;
  box-shadow: 0px 4px 21.8px rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 0 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
.service__item-num {
  width: 84px;
  height: 64px;
  border-radius: 8px;
  background-color: #E8983A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.service__item-title {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #1A1525;
}
.service__item-title::after{
  content: '';
  height: 2px;
  width: 100px;
  display: block;
  background-color: #1A1525;
  margin: 0 auto;
  margin-top: 22px;
}
.service__item-text {
  margin: 0 auto;
  margin-top: 19px;
  text-align: center;
  font-size: 16px;
  color: #1A1525;
  max-width: 353px;
}

@media (max-width: 460px) {
  .service {
    height: 793px;
  }
  .service__wrapper {
    row-gap: 40px;
    transform: translateY(-303px);
  }
  .service__item {
    width: 100%;
    min-height: 168px;
  }
  .service__item-num {
    width: 72px;
    height: 49px;
    font-size: 24px;
  }
  .service__item-title {
    font-size: 16px;
    margin-top: 45px;
  }
  .service__item-title::after {
    margin-top: 16px;
    width: 60px;
  }
  .service__item-text {
    margin-top: 12px;
    font-size: 12px;
  }
  .service__item-text br {
    display: none;
  }
}
