@import url("../../css/main.css");

body {
  background-image: var(--dark-blue);
}

.header__nav {
  margin-left: 211.83px;
}

.top {
  padding-top: 196px;
  background-image: none;
}

.top__background {
  bottom: -85px;
}

.top__background-image {
  background-position: 48% 45%;
}

.top__image {
  min-width: 768.97px;
  position: absolute;
  bottom: 0;
  top: -91px;
  right: -60px;
}

.top__wrapper-image {
  width: 268px;
}

.top__download-content {
  max-width: 1031px;
  background-color: #fff;
  color: var(--dark-black);
  padding: 51px 103px 56px 52px;
  border-radius: 16px;
  position: relative;
  display: flex;
  gap: 0 66px;
}

.top__download-wrapper {
  flex-shrink: 0;
}

.top__download-title {
  font-weight: 700;
  font-size: 20px;
  max-width: 333px;
}

.top__download-text {
  max-width: 373px;
  font-size: 13px;
  margin-top: 19px;
}

.top__form {
  padding-top: 0;
  margin-top: 30px;
}

.top__form-item,
.top__form-bottom {
  margin-top: 19px;
}

.top__form-check-item {
  margin-top: 21px;
}
.top__inner {
  gap: 156.28px;
  padding-bottom: 426px;
}

.top__button-media {
  display: none;
}

.top__promotion {
  margin-top: 42px;
}

.top__promotion-title {
  font-size: 24px;
  font-weight: 700;
}

.top__promotion-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0 73px;
  margin-top: 25px;
}

.top__time {
  max-width: 373px;
  width: 100%;
  text-align: center;
  padding: 34px 0 35px 0;
  border-radius: 16px;
  box-shadow: inset 0px 0px 64px 0px rgba(255, 255, 255, 0),
    inset 0px 3px 8px 0px rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(54px);
  background: rgba(255, 255, 255, 0.03);
  position: relative;
}

.top__time::after {
  content: "";
  position: absolute;
  background: rgba(232, 152, 58, 0.13);
  filter: blur(16px);
  top: 19px;
  right: 10px;
  bottom: 15px;
  left: 33px;
}

.top__time-text {
  display: block;
  font-size: 40px;
  font-weight: 700;
}

.top__promotion-text {
  font-size: 24px;
  flex-grow: 1;
  font-weight: 700;
}

.top__promotion-text > span {
  display: block;
}

.top__button {
  margin-top: 46px;
}

.top__info-wrapper {
  bottom: 53px;
}

.top__info {
  padding-left: 70px;
  padding-right: 51px;
}

.footer {
  background-image: none;
}

@media (max-width: 1100px) {
  .header__nav {
    margin-left: auto;
  }

  .top__download-content {
    padding-right: 52px;
  }

  .top__inner {
    gap: 0 48.28px;
  }

  .top__title {
    max-width: 558px;
  }

  .top__promotion-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .top {
    padding-top: 122px;
  }

  .top__download-content {
    padding: 40px 20px;
  }

  .top__image-block {
    display: none;
  }

  .top__inner {
    padding-bottom: 280px;
  }

  .top__wrapper-image {
    width: 100%;
  }

  .top__image {
    position: static;
    min-width: 100%;
  }

  .top__time::after {
    display: none;
  }

  .top__info-wrapper {
    bottom: 0;
    transform: translateY(49%);
    left: 13px;
    right: 13px;
  }

  .top__info {
    padding: 80px 66px 80px;
  }
  .top__image {
    position: static;
    min-width: 100%;
  }

  .top__white {
    height: 344px;
  }

  .top__info-wrapper {
    bottom: -18px;
  }

  .top__download-wrapper {
    flex-shrink: 1;
  }
}

@media (max-width: 480px) {
  .top__title {
    font-size: 20px;
  }
  .top__promotion {
    margin-top: 37px;
  }

  .top__promotion-title {
    font-size: 16px;
  }

  .top__promotion-wrapper {
    margin-top: 20px;
    gap: 20px 0;
  }

  .top__promotion-text {
    font-size: 14px;
  }
}
